*{
    color:white;
}
.container-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   background-color:#333333 ;
   height: 150px;
}

.box-sigue{
text-align: center;
margin-bottom: 50px;
}
.box-copy{
    text-align: center;
}